/* Styling of the background of the calculator */
body{
    background-color:black; 
    font-family:arial; 
    color:white}
/* Styling of title */
h1{
    color:grey; 
    font-family:verdana}
/* Styling of the div section containing all elements */
.maindiv{
    background-color:white;
    color:black;
    margin:auto;
    width:500px;
    height:350px;
    padding:20px;
    border-radius:25px;}
/* Styling the input labels to indent them */
label{
    display: table;
    padding-left:5em;
    float: left;
    width: 150px;
    text-align: left;}
/* Styling the input elements to be aligned right next to labels */
input{
    display: inline-block;
    float: left;}
/* aligning the Compute button below the input labels */
.button1{
    margin-left:80px;}
/* aligning the Reset button below the input elements */
.button2{
    margin-left:100px;}
/* Styling and aligning the result message to be in line with other elements */
.span{
    display: table;
    padding-left:5em;
    float: left;
    text-align: left;}
/* Styling footer to remain on the left */
.footer{
    text-align:left;
    float: left;
    display: table;}